### IntelliJ IDEA ###
#
.idea
console/target/classes/application.properties
console/target/classes/learn/spring5/Main.class
console/target/classes/learn/spring5/console/ConsoleNumberGuess.class
core/target/classes/config/game.properties
core/target/classes/learn/spring5/Game.class
core/target/classes/learn/spring5/GameImpl.class
core/target/classes/learn/spring5/GuessCount.class
core/target/classes/learn/spring5/MaxNumber.class
core/target/classes/learn/spring5/MessageGenerator.class
core/target/classes/learn/spring5/MessageGeneratorImpl.class
core/target/classes/learn/spring5/MinNumber.class
core/target/classes/learn/spring5/NumberGenerator.class
core/target/classes/learn/spring5/NumberGeneratorImpl.class
core/target/classes/learn/spring5/config/GameConfig.class
core/target/classes/logback-spring.xml
core/target/classes/messages.properties
core/target/classes/messages_es.properties
core/target/classes/messages_ga.properties
# all web/target/classes
web/target/classes/application.properties
web/target/classes/learn/spring5/WebMain.class
web/target/classes/learn/spring5/config/WebConfig.class
web/target/classes/learn/spring5/controller/GameController.class
web/target/classes/learn/spring5/interceptor/RequestInterceptor.class
web/target/classes/learn/spring5/service/GameService.class
web/target/classes/learn/spring5/service/GameServiceImpl.class
web/target/classes/learn/spring5/util/AttributeNames.class
web/target/classes/learn/spring5/util/GameMappings.class
web/target/classes/learn/spring5/util/ViewNames.class
web/target/classes/learn/spring5/util/thymeleaf/DecoupledLogicSetup.class
web/target/classes/templates/fragments/footer.html
web/target/classes/templates/fragments/footer.th.xml
web/target/classes/templates/fragments/head.html
web/target/classes/templates/fragments/head.th.xml
web/target/classes/templates/game-over.html
web/target/classes/templates/game-over.th.xml
web/target/classes/templates/home.html
web/target/classes/templates/home.th.xml
web/target/classes/templates/play.html
web/target/classes/templates/play.th.xml
